<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>Proizvodi</ion-title>
    <ion-button class="x-dugme" fill="clear" (click)="nazad()" ><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchQuery" (ngModelChange)="filterProizvodi()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let proizvod of filteredProizvodi">
    <ion-card>
      <div class="product-image-wrapper ">
      <img class="product-thumbnail" src="{{ proizvod.slika }}" alt="Slika Proizvoda"/>
    </div>
      <ion-card-header>
        <ion-card-title color="primary">{{ proizvod.naziv }}</ion-card-title>
        <ion-card-subtitle color="danger">{{ proizvod.cena | currency: 'RSD ' }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ proizvod.opis }}</p>
        <ion-item class="item-kolicina" lines="none">
          <ion-label>Količina:</ion-label>
          <ion-button  class="dumeKolicina"  (click)="smanjiKolicinu(proizvod)">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
          <ion-input [value]="proizvod?.kolicina"  class="input-kolicina" type="number"  min="1" max="20"></ion-input>
          <ion-button class="dumeKolicina" (click)="povecajKolicinu(proizvod)">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-button expand="block" (click)="dodajUKorpu(proizvod)">Dodaj u korpu</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
