.product-image-wrapper {
    position: relative;
  }
  
  .product-thumbnail {
    position: absolute;
    top: -1px; 
    right: -1px; 
    width: 90px; 
    height: 90px; 
    //border: 2px solid white; 
    border-radius: 10%; 
    //background-color: white; 
    //box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
  }
.x-dugme{
    position: absolute;
    top:0px;
    right: 0px;
}
.item-kolicina {
    display: flex;
    align-items: center;
  }
  

  .dugmeKolicina {
    margin: 0 0px; 
  }
  
  .input-kolicina {
    text-align: center; 
    max-width: 100px; 
    margin: 0 1px; 
  }