<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Moje porudžbine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 

  <ion-list *ngFor="let porudzbina of porudzbine">
    <ion-item  lines="full">
      <ion-label>
        <h2>Datum porudžbine: {{ porudzbina.datumPoruzbine | date: 'medium' }}</h2>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="otvoriDetalje(porudzbina)">
        DETALJI
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-item color="primary" *ngIf="porudzbine.length<1">Još uvek nema porudžbina! <ion-icon name="sad-outline"></ion-icon></ion-item>
</ion-content>
